<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车清单</title>
</head>
<body>
<div>
    <table>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">商品名称</th>
                <th class="text-center">商品价钱</th>
                <th class="text-center">商品星级</th>
                <th class="text-center">商品描述</th>
                <th class="text-center">商品图片</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="entry:${session.cart}">
                <td class="text-center" th:text="${entryStat.count}"></td>
                <td class="text-center" th:text="${entry.key.productName}"></td>
                <td class="text-center" th:text="${entry.key.price}"></td>
                <td class="text-center" th:text="${entry.key.star}"></td>
                <td class="text-center" th:text="${entry.key.info}"></td>
                <td class="text-center">
                    <img th:src="${entry.key.picture}" width="30px" height="30px">
                </td>
            </tr>
            </tbody>

    </table>

</div>
</body>
</html>